<div class="d-inline-block mt-3" *ngFor="let recipe of recipes">
  <div class="card" style="width: 18rem;">
    <img [src]="recipe.imageUrl" class="card-img-top" alt="{{ recipe.name}}">
    <div class="card-body">
      <h5 class="card-title"><strong>{{ recipe.name }}</strong></h5>
      <p class="card-text"><strong>{{ recipe.description }}</strong></p>
    </div>

    <div class="card-body">
      <a [routerLink]="[recipe.id, 'all-info']" class="card-link btn btn-primary">View</a>&nbsp;
      <button class="btn btn-danger" (click)="onDelete(recipe.id)" [disabled]="isRemoving">
        <span *ngIf="!isRemoving">
      Delete
    </span>
        <span *ngIf="isRemoving" class="spinner-border spinner-border-sm">
        <span class="sr-only">Removing...</span>
      </span>
      </button>
    </div>
  </div>
</div>




