
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <a class="navbar-brand" routerLink="/">Form of registration</a>
  <a class="navbar-brand ml-auto" routerLink="/add">Add</a>
</nav>

<main class="container-fluid">
  <router-outlet></router-outlet>
</main>
