<div class="container">
  <div class="row mt-3">
    <h3>Add of recipes</h3>
  </div>
  <div class="row mt-3">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="name">Name of recipes</label>
        <input type="text"
               name="name"
               id="name"
               class="form-control"
               formControlName="name"
               placeholder="Enter name of recipes"/>
        <small *ngIf="fieldHasError('name','required')">
          Enter your name!
        </small>
        <small *ngIf="fieldHasError('name', 'name')">
          Enter correct name!
        </small>
      </div>
      <div class="form-group">
        <label for="description">Description of recipes</label>
        <textarea name="description"
                  id="description"
                  cols="30" rows="10"
                  class="form-control"
                  formControlName="description"
        ></textarea>
        <small *ngIf="fieldHasError('description','required')">
          Enter your description of recipes!
        </small>
        <small *ngIf="fieldHasError('description', 'description')">
          Enter correct description!
        </small>
      </div>
      <div class="form-group">
        <label for="imageUrl">Image</label>
        <input type="text"
               name="imageUrl"
               id="imageUrl"
               class="form-control"
               formControlName="imageUrl"/>
        <small *ngIf="fieldHasError('imageUrl','required')">
          Enter your image of recipes!
        </small>
        <small *ngIf="fieldHasError('imageUrl', 'imageUrl')">
          Enter correct image!
        </small>
      </div>
      <div class="form-group">
        <label for="ingredients">Ingredients of recipes</label>
        <textarea name="ingredients"
                  id="ingredients"
                  cols="30" rows="10"
                  class="form-control"
                  formControlName="ingredients">
        </textarea>
        <small *ngIf="fieldHasError('ingredients','required')">
          Enter your ingredients of recipes!
        </small>
        <small *ngIf="fieldHasError('ingredients', 'ingredients')">
          Enter correct ingredients!
        </small>
      </div>

      <div class="form-group" formArrayName="steps">
        <label for="step">Steps: </label>

        <button type="button" class="btn btn-secondary" (click)="addStep()">Add steps</button>

          <div class="col" *ngFor="let stepControl of getStepControls(); let i = index">
            <div class="form-group" [formGroupName]="i">
              <p>Step: {{ i + 1 }}</p>
              <input type="text" formControlName="imageStep" class="form-control"/>&nbsp;
              <textarea name="descriptionStep"
                        id="descriptionStep"
                        cols="30" rows="10"
                        class="form-control"
                        formControlName="descriptionStep"></textarea>
            </div>
          </div>
      </div>
      <button class="btn btn-danger" [disabled]="profileForm.invalid || isClick">
        <span *ngIf="!isUpLoading">
          Save
        </span>
        <span *ngIf="isUpLoading" class="spinner-border spinner-border-sm">
          <span class="sr-only">Loading...</span>
        </span>
      </button>
    </form>
  </div>
</div>
