<div class="row">
  <div class="d-inline-block">
    <div class="card" style="width: 18rem;">
      <img [src]="recipe.imageUrl" class="card-img-top" alt="{{ recipe.name }}">
      <div class="card-body">
        <h5 class="card-title"><strong>Name:</strong>  {{ recipe.name }}</h5>
        <p class="card-text"><strong>Description:</strong> {{ recipe.description }}</p>
        <p class="card-text"><strong>Ingredients:</strong> {{ recipe.ingredients }}</p>
        <div class="col" *ngFor="let step of recipe.steps; let i = index">
          <p>Step: {{ i + 1 }}</p>
          <img [src]="step.imageStep" class="card-img-top" alt="{{ step.imageStep}}">
          <p class="card-text mt-2"><strong>Description:</strong>{{ step.descriptionStep }}</p>
        </div>
        <a [routerLink]="['/', recipe.id, 'edit']" class="card-link btn btn-primary">Edit</a>&nbsp;
      </div>
    </div>
  </div>
</div>

